{% extends 'glowny.html' %}

{% block tytul %} Lista filmów {% endblock %}

{% block strona %}
{% if user.is_authenticated %}
Witaj {{ user.username }}<br>
<a href="{% url 'logout' %}" class=" btn btn-danger">Logout</a>
{% else %}
<a href="{% url 'login' %}" class=" btn btn-success">Login</a>
{% endif %}
<hr>

<a href="{% url 'nowy' %}" class=" btn btn-info">Dodaj film</a>
{% if filmy|length == 0 %}
<h2>Brak filmów</h2>
{% else %}
<!-- <h2>Ilość filmów w BD: {{filmy|length}}</h2> -->
{% endif %}


<h3>{{ text }}</h3>
{% for film in filmy %}
<div class="card">

    <div class="card-body">
        <img src="/media/{{film.plakat}}" class="film-plakat">
        <div class="row">
            <div class="col-7">
                <h5 class="card-title">{{film}} </h5>
            </div>
            <div class="col">
                <a href="{% url 'edytuj_film' film.id %}" class="btn btn-primary">Edytuj</a>
                <a href="{% url 'usun' film.id %}" class="btn btn-primary">Usun</a>
            </div>
        </div>
        <div class="row">
            <p class="card-text">{{film.opis}}</p>
        </div>
    </div>


</div>
</div>

{% endfor %}
{% endblock %}