{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'nowy.css' %}">
</head>

<body>
    <a href="{% url 'nowy' %}">Dodaj film</a>
    {% if filmy|length == 0 %}
    <h2>Brak filmów</h2>
    {% else %}
    <h2>Ilość filmów w BD: {{filmy|length}}</h2>
    {% endif %}


    <h3>{{ text }}</h3>
    {% for film in filmy %}
    <h3>{{film}}</h3>
    <p>{{film.opis}}</p>
    <a href="{% url 'edytuj_film' film.id %}">Edytuj</a>
    <a href="{% url 'usun' film.id %}">Usun</a>
    {% endfor %}



</body>

</html>