{% extends 'glowny.html' %}

{% block tytul %} Confirmation {% endblock %}

{% block strona %}
<div class="card" style="width: 32rem;">
    <div class="card-body">
        <h5 class="card-title">Czy napewno chcesz usunąć "{{film.tytul}}" ?</h5>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usuń film</button>
            <a href="{% url 'wszystkie' %}" class="btn btn-primary">Cofnij</a>
        </form>
    </div>
</div>


{% endblock %}